appdirs==1.4.4
bs4==0.0.1
certifi==2021.10.8
cldfbench==1.9.0
cldfcatalog==1.4.0
cldfviz==0.7.0
cldfzenodo==0.2.0
clldutils==3.11.1
cltoolkit==0.1.1
colorlog==6.6.0
csvw==1.11.0
cycler==0.11.0
gitdb==4.0.9
greenlet==1.1.2
html5lib==1.1
idna==3.3
igraph==0.9.9
iniconfig==1.1.1
isodate==0.6.1
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.2
lingpy==2.6.9
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
nameparser==1.0.6
networkx==2.6.3
newick==1.3.2
numpy==1.21.4
openpyxl==3.0.9
packaging==21.3
pluggy==1.0.0
purl==1.6
py==1.11.0
pybtex==0.24.0
pycldf==1.25.1
pyclts==3.1.1
pyconcepticon==2.8.0
pycountry==20.7.3
pyedictor==0.4
pyglottolog==3.7.0
pylexibank==3.3.0
-e git+https://github.com/lingpy/pynorare.git@d0a684010126a821e9e79754cfc3e0bccf8d4449#egg=pynorare
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
python-igraph==0.9.9
regex==2021.11.10
requests==2.26.0
rfc3986==1.5.0
scipy==1.8.0
segments==2.2.0
sinopy==0.3.4
six==1.16.0
smmap==5.0.0
soupsieve==2.3.1
SQLAlchemy==1.4.28
tabulate==0.8.9
termcolor==1.1.0
texttable==1.6.4
threadpoolctl==3.1.0
tqdm==4.62.3
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
xlrd==2.0.1
yattag==1.14.0
zenodoclient==0.4.1
zipp==3.6.0